body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 4em;
    margin: 0;
    
}

#error {
    color: red;
}

#map {
    height: 60vh;
    width: 75vw;
}

#mood-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

#form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 9vw;
    height: 6vw;
}

.mood-icon {
    margin: 1% 3%;
    width: 2vw;
    cursor: pointer;
}

.popup {
    border-radius: 10px;
}

.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.leaflet-popup-content > h3,
.leaflet-popup-content > p {
    margin: 0;
}